<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	<add key="pathfilelocation" value="D://watcher" />
	<add key="logfilelocation" value="D://watcher/log/log.txt" />
	<add key="namedirectoryxlsx" value="log" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>